:root{
    --main-color: #0d1117;
    --second-color: #010409;
    --transpernt-color: rgba(14, 61, 109, 0.685);
}

.profile-container{
    background-color: coral;
    height: min-content;
    padding: 0.8rem;
    background-color: var(--main-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tweeter-profile-info{
    display: grid;
    grid-template-columns: 1fr min-content;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
    max-width: 600px;    
}

.name-username{
    display: flex;
    flex-direction: column;
}

.tweeter-net{
    color: #49515e;
    background-color: #242a34;
    padding: 0.4rem;
    border-radius: 0.8rem;
    font-size: 0.8rem;
}

.profile-avatar{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
    background-color: #242a34;
}

.bio{
    padding-bottom: 1rem;
    max-width: 38rem;
}

.follow-stats{
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
}


.follow-stats > span,
#numberOfFollowers,
#numberOfFollowings{
    color: #49515e;
}

.settings{
    display: flex;
    justify-content: flex-start;
}

.settings > button{
    background-color: inherit;
    border: 1px solid #49515e;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

.profile-nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 600px;
    border-bottom: 1px solid #242a34;
}

.profile-nav > a{
    padding: 1rem;
    cursor: pointer;
}

/* 
.profile-nav:has(a:active),
.profile-nav:has(a:hover)
{
    border-bottom: 1px solid #888c91;
}

$nav a:hover{
    border-bottom: 1px solid #888c91;

} */
.threads:active,
.replies:active,
.threads:hover,
.replies:hover{
    border-bottom: 1px solid #888c91;
}

.profile-content{
    max-width: 600px;    
}